<div class="card shadow mb-2">
    <img src="assets/img/other/placeholder.jpg" alt="category thumbnail image" class="card-img-top" />
    <div class="card-body">
        <h3 class="card-title">Category Name</h3>
        <p class="card-text">Category description</p>
    </div>

    <a href="/" class="btn btn-primary stretched-link">View posts</a>
</div>